helloworld2/src/main/mule/helloworld2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b75ffb5d-34a1-410c-87be-f201c189550c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworld2Flow" doc:id="469f0448-2eed-47f9-a3d1-feeebfd8950c" >
		<http:listener doc:name="Listener" doc:id="d91f7060-1cdf-45d4-a677-cba89460d669" config-ref="HTTP_Listener_config" path="/hello2"/>
		<set-payload value='#["Hi"]' doc:name="Set Payload" doc:id="57c1ab17-ee66-4092-b2dc-b3351543e348" />
		<logger level="INFO" doc:name="Logger" doc:id="442cc548-2692-4d8e-a6e9-3968ce8f2d1e" message='"Logging hello2"'/>
	</flow>
</mule>
